@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.responsive-bg {
  /* Mobile view (< 768px) - original homepage2b */
  background-image: url('https://res.cloudinary.com/dnwbkkjpo/image/upload/q_auto,f_auto/v1718299505/homepage3b.jpg');
  background-position: center;
}

@media (orientation: landscape) {
  .responsive-bg {
    background-image: url('https://res.cloudinary.com/dnwbkkjpo/image/upload/c_crop,w_1536,h_864,ar_16:9,g_auto,q_auto,f_auto/v1718299505/homepage3a.jpg');
    background-position: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  /* Tablet view (768px-1023px) - cropped homepage2b */
  .responsive-bg {
    background-image: url('https://res.cloudinary.com/dnwbkkjpo/image/upload/c_crop,w_1536,h_864,ar_16:9,g_auto,q_auto,f_auto/v1718299505/homepage3a.jpg');
    background-position: top;
  }
}

@media (min-width: 1025px) {
  /* Desktop view (≥ 1024px) - homepage2a */
  .responsive-bg {
    background-image: url('https://res.cloudinary.com/dnwbkkjpo/image/upload/c_crop,w_1536,h_864,ar_16:9,g_auto,q_auto,f_auto/v1718299505/homepage3a.jpg');
    background-position: center;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-chivo), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ibm_plex_sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.translate-y-0 {
  transform: translateY(0);
}

.-translate-y-full {
  transform: translateY(-100%);
}
